body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}
.container {
  width: 1128px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
img {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}
.header {
  color: #e7e9fc;
  background: var(--WHITE, #fff);
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
}
.header .container {
  display: flex;
  align-items: center;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Navigation-end-contact */
.header-nav {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
  align-items: center;
  margin-right: 100px;
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.adres-item {
  display: flex;
  align-items: center;
  margin-right: auto;
  gap: 40px;
}
.header-item {
  align-items: center;
  margin-right: 76px;
  margin-left: 50px;
  font-family: Raleway, sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.item-logo {
  color: #2e2f42;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
}

.item {
  color: #2e2f42;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.item:hover {
  color: #404bbf;
}
.item:focus {
  color: #404bbf;
}
.item:active {
  color: #404bbf;
}
.adres {
  font-style: normal;
}
.link {
  color: var(--SLATE, #434455);

  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.link:hover {
  color: #404bbf;
}
.link:focus {
  color: #404bbf;
}

/* section 1 */
.fon {
  background: var(--NAVY-BLUE, #2e2f42);
  display: block;
  padding-top: 300px;
  padding-bottom: 300px;
  padding-left: auto;
  padding-right: auto;
}

.title {
  color: var(--WHITE, #fff);
  font-family: Roboto;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.cnopca {
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  margin-left: 318px;
}
.cnopca:hover {
  background: var(--OCEAN, #404bbf);
}
.cnopca:focus {
  background-color: #404bbf;
}
.inscription {
  color: var(--WHITE, #fff);
  text-align: center;
  font-family: Roboto;
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
  width: 105px;
  height: 24px;
  padding: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
}

/* section 2 */
.nov {
  display: none;
}
.section-item {
  display: flex;
  gap: 24px;
  align-items: flex-start;
  margin-top: 120px;
  margin-bottom: 120px;
  margin-left: auto;
  max-width: auto;
  justify-content: center;
}
.content {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}
.text {
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  width: 264px;
  height: 104px;
}

/* section 3 */
.section-foto {
  display: flex;
  gap: 24px;
}

.fonfoto {
  background: var(--CLOUD, #f4f4fd);
  padding-top: 232px;
  padding-bottom: 120px;
}
.team {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.user {
  background: var(--WHITE, #fff);
}
.user-img {
  background: url(<path-to-image>),
    lightgray -97.034px -0.927px / 181.897% 251.37% no-repeat;
  padding-bottom: 32px;
}
.user-img:hover {
  background: var(--WHITE, #fff);
}
.user-name {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  padding-bottom: 8px;
}
.profession {
  color: var(--SLATE, #434455);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  padding-bottom: 24px;
}

/* section 4 */
.fonfo {
}

.project-card {
  background: #fff;
}
.section-logo {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  line-height: 1.5;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio {
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 24px;
  width: 1136px;
}
.portfolio-img {
  color: #e7e9fc;
  background: var(--WHITE, #fff);
  margin-bottom: 32px;
}
.gallery-item {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  line-height: 1.2;
  margin-bottom: 8px;
}
.epp {
  color: #434455;
  background: var(--WHITE, #fff);
  letter-spacing: 0.02em;
  line-height: 1.5;
}

/* Futer */
.footer {
  background: var(--NAVY-BLUE, #2e2f42);
  width: 1440px;
  height: 312px;
  flex-shrink: 0;
}
.lod {
  color: #f4f4fd;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.lodg {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.para {
  color: var(--CLOUD, #f4f4fd);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
